* { margin: 0px; padding: 0px; }
html, body, #map_canvas { width: 100%; height: 100%; }
#tweet { position: absolute; top: 0px; left: 0px; z-index: 2; font-size: small; }
#img {
  margin: 4px;
  width: 48px;
  height: 48px;
  float: left;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
#id { margin-top: 4px; }
#name { font-weight: bold; }
#map_canvas { position: absolute; top: 0%; left: 0%; z-index: 1; }


